<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Provide Automation Test Suite">
	<test name="Provide app Test">
		<classes>
			<class name="org.provide.Util">
				<methods>
					<include name="getExcelData"></include>
					
				</methods>
			</class>
		</classes>
	</test>
</suite>




